/* RESET */
body,
header,
section,
div,
ul,
li,
a,
footer,
h1,
h2,
h3,
input,
label,
textarea,
button {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background-color: transparent;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  width: 100vw;
  height: 100vw;
}

header {
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 3%;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;

}

header h1 {
  font-size: 18px;
  color: #00acee;
}

header h1 a {
  font-size: 10px;
  color: black;
}
#logo{
  width: 38%;
}
nav{
  text-align: center;
  width: 62%;
}
#fantasma{
  width: 0%;
}
#menu {
  text-align: center;
  margin: 0;
  padding: 0;
}
#menu li{
  display: inline-block;
  padding: 10px 8px;  
  font-weight: bold;
  font-size: 8px;
}

#menu li a{
  text-decoration:  none;
  color: black
}

main#container {
margin-left: 20%;
margin-top: 15%;
width: 70%;
margin-right: 10%;
}

section.text-container div h1 {
  font-size: 18px;
  line-height: 16px;
}

section.input-container {
 margin: 20px;
 width: 40%;
}

.a-botao{
  background-color: #00abee9c ;
  font-size: 10px;
  border-radius: 5px;
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}


footer{
  background-color: #00abee9c;
  text-align: center;
  width: 100vw;
  padding: 10px 0px;
  margin: 0px;
  position: fixed;
  bottom:0;
  color: white;
  -webkit-box-shadow: 2px 2px 10px 10px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 10px 10px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px 10px rgba(0,0,0,0.3);
}

/*CSS Página Sobre o Projeto*/

#container-projeto{
 
  width: 90%;
  height: 100%;
  justify-content: center;
  padding: 2%;
  margin: 0 auto;
  margin-top: 10px;

}

.texto-projeto{
  width: 100%;
  height: 100%;

}
p{
  line-height: 14px;
  margin-top: 30px;
  font-size: 12px;
}

.imagem-projeto{
  width: 100%;
  height: 100%;
  position: relative;
}

#celular{
  position: absolute;
  margin-bottom: 20px;

}
#laptop{ 
  position: absolute;
  margin-top: 40%;
  margin-left: 40%;
  margin-bottom: 40px;
}

/* CSS Página Sobre Nós*/

#h1-aboutus{
  font-weight: bold;
  font-size: 18px;
}
#span-aboutus{
  color: black;
  font-size: 10px;
}

.row{
  display: flex;
  flex-wrap: wrap;
  
}
.container-element-father{
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color:white ;
}

.container-sm {
margin: 0 auto;
padding: 0;
position: relative;
top: 10%;
width: 80%;
}

.col-sm{
text-align: center;
align-items: center;
justify-content: center;
background-color:white;
position: relative;
width: 33%;
margin-top: 2%;
margin-bottom: 2%;
}
.navbar-toggler{
z-index: 2;
}

.image{
width: 50%;
}

.col-sm:hover .overlay {
opacity: 1;
}

.overlay {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
height: 100%;
width: 100%;
opacity: 0;
transition: .5s ease;
background-color:#f8f9fa;
}

.text {
width: 100%;
color:black;
font-size: 100%;
position: absolute;
padding:0;
text-align: center;
}

.col{
position: relative;
top:5px;
padding-left: 0;
padding-right: 0;
}

#empty{
margin:0;
border-style: none;
}
#wesley-foto{
  border-radius: 50%;
}

/*CSS Página Pesquisar*/


.pesquisar {
  width: 30%;
  margin: 0 auto;
}

#search {
  border: 2px solid black;
  border-radius: 8px;
}

.pesquisar input {
  width: 100%;
  height: 25px;
  margin: 20px 0px;
}

.pesquisar #search {
  color: black;
  font-weight: bold;
  font-size: 11px;
  padding-left: 10px;
}
.tweets {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 40px;
  justify-content: center;
}

.tweets img {
  width: 30%;
  padding: 10px;
}


@media (min-width: 375px){

  header h1 {
    font-size: 22px;
    color: #00acee;
  }
  
  header h1 a {
    font-size: 13px;
    color: black;
  }
  #menu li{
    display: inline-block;
    padding: 10px 10px;  
    font-weight: bold;
    font-size: 10px;
}
section.text-container div h1 {
  font-size: 25px;
  line-height: 22px;
}

#h1-aboutus{
  font-weight: bold;
  font-size: 19px;
}
#span-aboutus{
  color: black;
  font-size: 11px;
}
}
@media (min-width: 700px){
  header h1 {
    font-size: 24px;
    color: #00acee;
  }
  
  header h1 a {
    font-size: 16px;
    color: black;
  }
  #menu li{
    display: inline-block;
    padding: 10px 14px;  
    font-weight: bold;
    font-size: 14px;
}
section.text-container div h1 {
  font-size: 35px;
  line-height: 38px;
}
.a-botao{
  font-size: 16px;
}
p{
  font-size: 16px;
}
/* CSS Sobre Nós*/

#h1-aboutus{
  font-weight: bold;
  font-size: 24px;
}
#span-aboutus{
  color: black;
  font-size: 16px;
}
.pesquisar input {
  height: 35px;
}
.pesquisar #search {
  font-size: 16px;
}
}
@media (min-width: 1025px){
body {
  font-family: "Raleway", sans-serif;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

header {
  width: 90%;
  padding: 2%;;
  top: 0;
  left: 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  position: relative;

}

header h1 {
  font-size: 29px;
  color: #00acee;
}

header h1 a {
  font-size: 20px;
  color: black;
}
section.text-container div h1 {
  font-size: 52px;
  line-height: 50px;
}
#h1-aboutus{
  font-weight: bold;
  font-size: 29px;
}
#span-aboutus{
  color: black;
  font-size: 20px;
}
#logo{
  width: 25%;
}
nav{
  width: 50%;
}
#fantasma{
  width: 25%;
}
#menu {
  text-align: center;
  margin: 0;
  padding: 0;
}
#menu li{
  display: inline-block;
  padding: 10px 30px;  
  font-weight: bold;
  font-size: 16px;
}

#menu li a{
  text-decoration:  none;
  color: black
}
.a-botao{
  font-size: 20px;
}
footer{
  background-color: #00acee;
  text-align: center;
  width: 100%;
  padding: 10px 0px;
  margin: 0px;
  position: fixed;
  bottom:0;
  color: white;
  font-weight: bold;
  -webkit-box-shadow: 2px 2px 10px 10px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 10px 10px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px 10px rgba(0,0,0,0.3);
}

/* CSS Página Sobre o Projeto*/

#container-projeto{
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  height: 100%;
  justify-content: center;
  padding: 2%;
  margin: 0 auto;
  margin-top: 30px;

}
.texto-projeto{
  width: 36%;
  height: 100%;
  margin-right: 2%;

}
p{
  font-size: 18px;
  line-height: 25px;
  margin-top: 30px;
}

.imagem-projeto{
  width: 56%;
  height: 100%;
  margin-left: 2%;
  position: relative;
}
.container-sm {
  margin: 0 auto;
  padding: 0;
  position: relative;
  top: 10%;
  width: 60%;
  }
  .pesquisar input {
    width: 100%;
    height: 50px;
  }
  .pesquisar #search {
    font-size: 18px;
  }
}